.imprint-page,
.privacy-page,
.terms-page {
  .text-h2 {
    padding-bottom: 1.5rem;
  }

  .text-h3 {
    padding-bottom: 0.5rem;
  }

  .text-h4 {
    padding-bottom: 0.5rem;
    padding-top: 1rem;
  }

  ul {
    margin-top: 0;
    padding-left: 1.5rem;
  }
}
