// app global css in SCSS form

@import "fonts";
@import "components";
@import "pages";

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  margin-top: 0;
}

#q-app {
  background-color: $grey-3;

  // font-family: 'Open Sans', sans-serif;

  a.anchor,
  a.index-link,
  a.external {
    &,
    &:active,
    &:focus,
    &:visited {
      color: $primary;
    }
  }

  a.a-link {
    text-decoration: underline;
  }

  a.dense {
    color: $dark;
    text-decoration: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
    margin-top: 0;
  }

  // .header {
  //   background-color: rgba(#2e5d4e, 0.9);
  //   backdrop-filter: blur(8px);
  // }

  @media screen and (min-width: $breakpoint-md-min) {
    .header .search-bar {
      margin-right: 0.5rem;
    }
  }

  // smaller text sized for mobile
  @media screen and (max-width: $breakpoint-sm-max) {
    h1,
    .text-h1 {
      font-size: 2rem;
      line-height: 2.125rem;
      letter-spacing: -.00833em;
      font-weight: 300;
    }
    h2,
    .text-h2 {
      font-size: 1.5rem;
      line-height: 1.625rem;
      letter-spacing: .00735em;
      font-weight: 400;
    }
    h3,
    .text-h3 {
      font-size: 1.375rem;
      line-height: 1.5rem;
      letter-spacing: normal;
      font-weight: 400;
    }
    h4,
    .text-h4 {
      font-size: 1.25rem;
      line-height: 1.375rem;
      letter-spacing: .0125em;
      font-weight: 400;
    }
    // $subtitle1: (size: 1rem, line-height: 1.75rem, letter-spacing: .00937em, weight: 400) !default;
    // $subtitle2: (size: .875rem, line-height: 1.375rem, letter-spacing: .00714em, weight: 500) !default;
    // $body1: (size: 1rem, line-height: 1.5rem, letter-spacing: .03125em, weight: 400) !default;
    // $body2: (size: .875rem, line-height: 1.25rem, letter-spacing: .01786em, weight: 400) !default;
    // $overline: (size: .75rem, line-height: 2rem, letter-spacing: .16667em, weight: 500) !default;
    // $caption: (size: .75rem, line-height: 1.25rem, letter-spacing: .03333em, weight: 400) !default;
  }

  .main-nav {
    &__item {
      border-bottom: 3px solid transparent;

      &--active {
        border-bottom-color: $accent;
      }
    }
  }
}

.q-page-container {
  background-color: $grey-2;
}

.container {
  &,
  &-sm,
  &-md {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

.container {
  max-width: 80rem;
}

.container-sm {
  max-width: 30rem;
}

.container-md {
  max-width: 45rem;
}

// body.body--dark {
//   #q-app {
//     background-color: $grey-9 !important;
//   }

//   .q-page-container {
//     background-color: $grey-9;
//   }
// }
